body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #FDF6F0;
    
}

header{

    background-color: #FFE2E2;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}


main{
    padding: 1rem;
}


#citron
{
    background-image: url('img/citron.png');
    height: 4rem;
    width: 4rem;
}


#citron:hover
{
    background-image: url('img/citron_ombragé.png');
}
