body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header{

    background-color: beige;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}


main{
    padding: 1rem;
}


<<<<<<< HEAD

=======
#citron
{
    background-image: url('citron.png');
    height: 4rem;
    width: 4rem;
}


#citron:hover
{
    background-image: url('citron_ombragé.png');
}
>>>>>>> ed1391eee5e26ffba4930b5617a2b88c7cd001a2
